<div>
    <button id="gw-btn" class="btn" ng-click="openModal()">
        <img class="white-heart" ng-src="{{ imageUrlPrefix }}/white-heart.svg">
        <span>gratitude</span>
    </button>
</div>

<div id="gw-title-fixed-to-top-container" class="hidden">
    <div id="gw-title-fixed-to-top">
        <img id="gw-instagram-logo" ng-src="{{ imageUrlPrefix }}/insta-logo.svg"><span>#connectedbygratitude</span>
    </div>
    <img id="gw-striplet-fixed-to-top" class="striplet img-responsive hidden" ng-src="{{ imageUrlPrefix }}/striplet-1.jpg">
</div>